 @font-face {
    font-family: ITEMregular;
    src: "special/CLAN-MEDIUM.OTF";
 }
 @font-face {
    font-family: ITEMregular;
    src: "special/CLAN-BOLD.OTF";
    font-weight: bold;
 }
 @font-face {
    font-family: ITEMregular;
    src: "special/CLAN-BLACK.OTF";
    font-weight: bolder;
 }

html {margin: 0; background-color: #ffffff; font-family: ITEMregular, sans-serif;}
h1,h4,h3, h5,h6,h2 {margin-block-end: 0;margin-block-start: 0;}
body {width: 100%; position: relative; margin: 0;}
ol,ul, li {margin-block-start: 0; margin-block-end: 0; list-style-type: none; padding-inline-start:0;}
p {display: inline-block;margin-block-start: 0px;margin-block-end: 0px;margin-inline-start: 0px;margin-inline-end: 0px;}
h1 {font-size: 30px;}
figure {margin-block-start: 0;margin-block-end: 0;margin-inline-start: 0px;margin-inline-end: 0px;}
.Intro {width: 100%; height: 100%; display: inline-block; text-align: center; background-color: #ffffff;}
.Intro .Title {width: 800px; text-align: center; display: block; margin: 10px auto 150px auto;}
.Intro .Title h1 {font-weight: normal; font-size: 45px; margin: 10px auto; width: 90%; color: #6e6e6e;}
.Intro .Title h6 {font-weight: normal; font-size: 16px; margin: 10px auto; width: 80%; color: #6e6e6e;}
.Intro .Title img {width: 500px; height: 500px;margin: 5px auto 20px auto;}
.Intro .Explainer {width: 800px; text-align: center; display: block; margin: 100px auto;}
.Intro .Explainer article {width: 80%;}
.Intro .Explainer h2 {font-weight: normal; font-size: 30px; margin: 10px auto; width: 30%; color: #6e6e6e; text-align: left; display: inline-block;vertical-align: middle;}
.Intro .Explainer article > img {width: 30%;display: inline-block; vertical-align: middle; margin: 0 8%;}
.Intro .Explainer p {font-weight: normal; font-size: 17px; margin: 20px auto; width: 70%; color: #6e6e6e; text-align: left; line-height: 1.3;}
.Intro .ExplainerL {width: 950px; text-align: center; display: block; margin: 100px auto;}
.Intro .ExplainerS {width: 400px; text-align: center; display: inline-block; vertical-align: top;}
.Intro .ExplainerS article {width: 80%;}
.Intro .ExplainerS h2 {font-weight: normal; font-size: 40px; margin: 10px auto; width: 70%; color: #6e6e6e; text-align: left; display: inline-block;vertical-align: middle;}
.Intro .ExplainerS p {font-weight: normal; font-size: 15px; margin: 10px auto; width: 70%; color: #6e6e6e; text-align: left; line-height: 1.2;}
.Intro .ExplainerS aside a {font-size: 12px; font-weight: bold; display: inline-block; padding: 10px 20px; background: linear-gradient(to right, #9048fd 30%, #4bcbc9 90%); color: #f2eafc; width: 40%; margin: 10px auto;text-decoration: none; text-align: center;}
.ExplainerS aside {width: 70%; text-align: left; display: block; margin: 0 auto;}
.Intro footer {width: 100%; border-top: 1px solid #6e6e6e; margin-top: 50px; }
.Intro footer section {width: 800px; text-align: center; display: block; margin: 50px auto;}
.Intro footer section p {font-size: 13px; color: #9c9c9c; width: 50%;}
.Intro footer section a {font-size: 15px; color: #6e6e6e; text-decoration: underline; display: inline-block; margin: 10px; font-weight: bold;}
.Brandized {font-weight: bolder;background: linear-gradient(to right, #9048fd 20%, #4bcbc9 40%, #4bcbc9 60%, #9048fd 80%);background-size: 200% auto;color: #6e6e6e;background-clip: text;text-fill-color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;animation: shine 3s linear infinite;}
@keyframes shine {to {background-position: 200% center;}}
.BrandizedS {font-weight: bolder;background: linear-gradient(to right, #9048fd 20%, #4bcbc9 40%, #4bcbc9 70%, #9048fd 90%);background-size: 200% auto;color: #6e6e6e;background-clip: text;text-fill-color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.BrandizedSS {font-weight: bolder;text-align: center;background: linear-gradient(to right, #9048fd 20%, #4bcbc9 40%, #4bcbc9 70%, #9048fd 90%);background-size: 200% auto;color: #6e6e6e;background-clip: text;text-fill-color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.BrandizedSSx {color: #a4d1f8; font-weight: bolder;}
.BrandizedSSx:hover, .logo:hover .BrandizedSSx, .BrandizedSS:hover, .logo:hover .BrandizedSS {font-weight: bolder;background: linear-gradient(to right, #9048fd 20%, #4bcbc9 40%, #4bcbc9 60%, #9048fd 80%);background-size: 200% auto;color: #6e6e6e;background-clip: text;text-fill-color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;animation: shine 3s linear infinite;}
.BrandizedSSS:hover {font-weight: bolder;text-align: center;background: linear-gradient(to right, #9048fd 20%, #4bcbc9 40%, #4bcbc9 60%, #9048fd 80%);background-size: 200% auto;color: #6e6e6e;background-clip: text;text-fill-color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;animation: shine 3s linear infinite;}
.Intro .Explainer a {font-size: 12px; font-weight: bold; display: inline-block; padding: 10px 20px; background: linear-gradient(to right, #9048fd 30%, #4bcbc9 90%); color: #f2eafc; margin: 10px 30px;text-decoration: none; width: 160px;}
.Pager {width: 100% !important; margin: 60px 0 0 0 !important;}
.collections {width: 100%; max-width: 1700px; display: inline-block;}
.collectionsList {padding: 20px 100px 20px 100px}
.collection {width: 300px; margin: 40px;}
.collection .collectionIcon {width: 100px; height: 100px; border-radius: 33%; display: inline-block; vertical-align: top; background-color: #f1f8ff;}
.collection .collectionIcon img {width: 90%; padding: 5%; }
.collection .collectionInfo {width: 190px; display: inline-block; vertical-align: top; margin-left: 10px;}
.collection .collectionTitle {width: 95%; display: block; text-align: left; font-size: 20px; color: #a4d1f8;}
.collection .collectionTitle span {font-size: 13px;}
.collection .collectionDesc {width: 95%; display: block; text-align: left; font-size: 11px; color: #9c9c9c; margin-top: 5px;}
.collection .collectionItems {width: 95%; display: block; text-align: left; font-size: 18px;}


.menuMenu {width: 100%; position: fixed; top: 0; left: 0; height: 60px; border-bottom: 2px solid #a4d1f8;background-color: #ffffff;z-index: 999999999;}
.menuMenu .logo {display: inline-block; margin-left: 1%; text-decoration: none; cursor: pointer;}
.menuMenu .logo .logoimg {width: 35px; height: 35px; display: inline-block; vertical-align: middle; margin-top: 14px; background-image: url('special/logoS.png'); background-repeat: no-repeat; background-position: 0 -38;}
.menuMenu .logo:hover .logoimg, .menuMenu .logo .logoimg:hover {background-position: 0 0px;}
.menuMenu .logo span {font-size: 20px; display: inline-block; vertical-align: middle; margin: 15px 0 0 5px;}
.menuSelections {display: inline-block; margin: 15px 0 0 50px; vertical-align: middle}
.menuSelection {display: inline-block; margin: 5px 10px;}
.menuSelection .selected {font-weight: bolder;background: linear-gradient(to right, #9048fd 20%, #4bcbc9 40%, #4bcbc9 70%, #9048fd 90%);background-size: 200% auto;color: #6e6e6e;background-clip: text;text-fill-color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.menuSelection a {font-size: 13px; line-height: 1; text-decoration: none; color: #a4d1f8; font-weight: bolder;}
.search {width: 250px; display: inline-block; margin-top: 13px; vertical-align: middle; margin-left: 50px;}
.search input {width: 75%; height: 25px; border: 2px solid #a4d1f8; border-radius: 5px;}
.search a {padding: 6px 5px 2px 5px; display: inline-block; background-color: #a4d1f8; color: #ffffff; line-height: 1;border-radius: 5px; margin-top: 0px; margin-left: 3px; vertical-align: middle;}
.connectWallet {float: right; margin-right: 1%; vertical-align: middle;margin-top: 22px;text-decoration: none;}
.connectWallet img {width: 20px;vertical-align: bottom;margin-right: 7px;}
.connectWallet span {font-size: 18px; text-decoration: none; color: #a4d1f8;}

.collectionPage {width: 100%; min-width: 100%; display: block; text-align: center;background-color: #f1f8ff;}
.collectionPage .collectionPageInfo {width: 990px; display: inline-block; margin: 30px 0;}
.collectionPage .collectionPageInfo .collectionIcon {width: 240px; height: 240px; background-color: #f1f8ff;}
.collectionPage .collectionPageInfo .collectionIcon img {width: 90%; padding: 5%;}
.collectionPage .collectionPageInfo .collectionInfo {width: 500px; margin: 0 0 0 50px;}
.collectionPage .collectionInfo .collectionTitle {font-size: 30px; color: #a4d1f8;}
.collectionPage .collectionInfo .collectionTitle span {font-size: 14px;}
.collectionPage .collectionInfo .collectionDesc {font-size: 16px; min-height: 145px;}
.collectionPage .collectionInfo .collectionItems {display: inline-block; width: 20%; margin-top: 10px; font-size: 14px;}
.collectionPage .collectionInfo .collectionLink {display: inline-block; width: 80%; margin-top: 10px;font-size: 14px; text-align: left; color: #a4d1f8; font-weight: bold;}

.collectionPageItems {background-color: #ffffff; width: 100%; display: inline-block; text-align: center;}
.collectionPageItemsOrder {padding: 50px 100px 20px 100px; -moz-column-gap: 10px;-moz-column-width: 200px;;column-gap: 10px;column-width: 200px;-webkit-column-gap: 10px;-webkit-column-width: 200px; max-width: 1200px;display: inline-block;}
.collectionPageItems .collectionSingleItem {width: 200px; vertical-align: middle; display: inline-block; margin: 15px auto;}
.collectionPageItems .itemIcon {width: 200px;}
.collectionPageItems .itemIcon img {width: 95%;}
.collectionPageItems .ItemInfo {width: 95%; margin-top: 5px;}
.collectionPageItems .ItemInfo .ItemTitle {color: #a4d1f8;}
.collectionPageItems .ItemInfo .ItemPrice {text-decoration: none; margin: 2px 1% 0px 1%; display: inline-block; color: #ffffff; font-size: 11px; font-weight: bold; background-color: #a4d1f8; text-align: center; padding: 3px 7px; border-radius: 8px;}
.collectionPageItems .ItemInfo .ItemSupply {width: 100%; margin: 2px 0.2%; display: inline-block; color: #6e6e6e; font-size: 13px;}
.collectionPageItems .ItemInfo .ItemCollectionLink {width: 100%; margin: 2px 0.2%; display: inline-block; color: #6e6e6e; font-size: 13px;}

.returntocollection {width: 100%; padding: 20px 0; background-color: #f1f8ff; text-align: center; border-bottom: 1px dotted #a4d1f8;}
.returntocollection a {font-size: 16px; color: #6e6e6e; text-decoration: none;}
.returntocollection a img {display: inline-block; width: 30px; height: 30px; vertical-align: middle; border: 1px solid #a4d1f8; border-radius: 50%;}
.itemPage {width: 100%; display: inline-block; text-align: center;}
.itemPage .itemPageInfo {width: 100%; display: inline-block; padding: 30px 0; text-align: center;background-color: #f1f8ff;}
.itemPage .itemIcon {width: 220px; display: inline-block;}
.itemPage .itemIcon img {width: 95%;}
.itemPage .itemInfo {width: 700px; display: block; margin: 25px auto; text-align: left;}
.itemFundamentals {width: 260px; display: inline-block; vertical-align: middle;}
.itemInfo .itemDesc {width: 400px;text-align: left; margin-left: 30px; color: #6e6e6e; font-size: 14px; vertical-align: middle; line-height: 1.3;}
.itemPage .ItemTitle {font-size: 30px; color: #a4d1f8;text-align: left;}
.itemPage .ItemTitle span {font-size: 14px;}
.itemFundamentalsThing {width: 100%; text-align: left;}
.itemFundamentalsThing .itemaddress {display: inline-block; margin: 5px 10px 5px 0;}
.itemFundamentalsThing .itemaddress a {font-size: 13px; color: #6e6e6e;}
.itemFundamentals .ItemCollectionLink {width: 100%; text-align: left; font-size: 12px;margin: 0px 0px 5px 0; display: inline-block;color: #6e6e6e; word-break: break-all;}
.itemFundamentalsThing .ItemSupply, .itemFundamentalsThing .ItemBalance {display: inline-block; font-size: 13px;color: #6e6e6e;margin: 0px 5px 5px 0;}
.itemSide {width: 100%; text-align: left;}
.itemSide .ItemPrice {text-decoration: none; margin: 5px 1% 10px 0px; display: inline-block; color: #ffffff; font-size: 11px; font-weight: bold; background-color: #a4d1f8; text-align: center; padding: 3px 7px; border-radius: 8px;}

.collectionNav {width: 100%; background-color: #f1f8ff; height: 30px;text-align: center; border-bottom: 2px solid #a4d1f8;}
.collectionNav ul {width: 900px; text-align: center;height: 30px; display: inline-block;}
.collectionNav ul li {width: 150px; display: inline-block; background-color: transparent;text-align: center;height: 30px;}
.collectionNav ul li a {width: 100%; text-align: center; color: #a4d1f8; text-decoration: none; padding: 5px 0;display: block; font-size: 16px; font-weight: bolder;}
.collectionNav ul .selected, .collectionNav ul li:hover {color: #a4d1f8; background-color: #ffffff;}
.collectionNav ul .selected a, .collectionNav ul li:hover a, .collectionNav ul li a:hover {color: #a4d1f8;}

.wrapPage {width: 100%; display: block; text-align: center; margin-top: 100px;min-width: 100%;}
.wrapBox {width: 230px; background-color: #f1f8ff; border-radius: 20px;display: inline-block; padding: 30px 70px;    margin-top: 100px;}
.WrapWhat {width: 90%; display: inline-block; text-align: center;}
.WrapWhat p {font-size: 18px; font-weight: bold; text-align: center; color: #a4d1f8; margin-bottom: 20px;}
.WrapWhat input, .WrapWhatLoaded input {width: 90%; background-color: #fafdff; border: 2px solid #a4d1f8; border-radius: 6px; height: 30px; color: #a4d1f8;}
.WrapWhat .LoadToITEM {padding: 5px 8px; font-weight: bold; background-color: #a4d1f8; display: inline-block; margin-top: 10px; border-radius: 6px; font-size: 13px; color: #ffffff;}
.WrapWhatLoaded .tokenSelectedToWrap {font-size: 18px;font-weight: bold; text-align: center; color: #a4d1f8; margin-bottom: 0px; margin-top: 18px;}
.WrapWhatLoaded .tokenSelectedToWrapBalance {font-size: 13px; color: #6e6e6e; margin-bottom: 15px; display: inline-block;}
.tokenSelectedToWrapDecide {width: 100%; text-align: center; margin-bottom: 10px;}
.WrapWhatLoaded .BalancetoWrapSelector {width: 60%;display: inline-block; vertical-align: middle;}
.WrapWhatLoaded .tokenSelectedToWrapBalanceALL {padding: 8px 6px; border-radius: 6px; font-size: 9px; font-weight: bold; display: inline-block; background-color: #a4d1f8; vertical-align: middle; color: #ffffff; margin-right: 5px;}
.BeforeToWrapToITEM {padding: 8px 12px; font-weight: bold; background-color: #a4d1f8; display: inline-block; margin-top: 10px; border-radius: 6px; font-size: 13px; margin-right: 10px; color: #ffffff;}
.WrapToITEM {padding: 8px 12px; font-weight: bold; background-color: #a4d1f8; display: inline-block; margin-top: 10px; border-radius: 6px; font-size: 13px; margin-right: 10px;background: linear-gradient(to right, #9048fd 30%, #4bcbc9 90%); color: #ffffff;}
.WrapWhatLoaded .disabled {background-color: #e4e4e4 !important; color: #6e6e6e !important;}

.ItemData {max-width: 1200px; display: block; margin: 30px auto 100px auto; text-align:center; -moz-column-gap: 10px;-moz-column-width: 300px;;column-gap: 10px;column-width: 300px;-webkit-column-gap: 10px;-webkit-column-width: 300px; max-width: 1200px;}
.swowThis {padding: 5px; font-size: 11px; font-weight: bold; color: #ffffff; text-decoration: none; background-color: #a4d1f8; border-radius: 5px; display: inline-block; margin: 10px auto;}
.subMetaValueList {display: inline-block; text-align: center;width: 300px; background-color: #e2f0fd; padding: 20px 10px; margin: 10px; border-radius: 10px;}
.subMetaValueList .subMetaValueList {width: 80%; background-color: transparent; border-top: 1px solid #9c9c9c; border-radius: 0%;}
.ItemStuffOpen {text-align: center;}
.subMetaValueOpen {font-weight: bold; font-size: 18px; color: #a4d1f8; margin: 10px auto;}
.subMetaValueLink {background-color: #a4d1f8; text-decoration: none; color: #ffffff; padding: 5px 2.5%; display: inline-block; border-radius: 5px; margin-top: 5px; width: 95%; font-size: 14px;}
.subMetaValue {font-size: 15px; color: #6e6e6e; width: 95%;padding: 5px 2.5%;}
.subMetaValueString {font-size: 15px; text-align: left;color: #6e6e6e; width: 90%;}

.createPage {width: 100%; display: block; text-align: center; margin-top: 100px;min-width: 100%;}
.createStart {width: 230px; background-color: #f1f8ff; border-radius: 20px;display: inline-block; padding: 30px 70px;    margin-top: 100px;}


@media only screen and (max-device-width: 750px) {
   .Intro .Title, .Explainer, .ExplainerL, .ExplainerS, footer section {width: 90% !important; text-align: center;}
   .Intro .Title img {width: 90%; height: auto;}
   .Intro .Title h1 {font-size: 30px; text-align: left;}
   .Intro .ExplainerS aside a {width: 70%;}
   .Intro .Explainer h2 {font-size: 25px; width: 100%;}
   .Intro .Explainer p, .Intro .ExplainerS p {font-size: 13px;}
   .Intro .Title {margin-bottom: 50px;}
   .Intro .Explainer, .Intro .ExplainerL {margin: 20px;}
   .Intro .Title h6 {text-align: left;}
   .Intro .Explainer article > img {width: 80%}
}




@media only screen and (min-device-width: 751px) and (max-device-width: 1024px) {
   .Intro .Title, .Explainer, .ExplainerL, .ExplainerS, footer section {width: 90% !important; text-align: center;}
   .Intro .Title img {width: 90%; height: auto;}
   .Intro .Explainer article > img {width: 40%}
}

@media only screen and (min-width: 990px) {
   .collectionPageItemsOrder {column-count: 3;-moz-column-count:3;-webkit-column-count:3;}
}
@media only screen and (min-width: 1100px) {
   .collectionPageItemsOrder {column-count: 4;-moz-column-count:4;-webkit-column-count:4;}
}

















