 @font-face {
    font-family: ITEMregular;
    src: "special/CLAN-MEDIUM.OTF";
 }
 @font-face {
    font-family: ITEMregular;
    src: "special/CLAN-BOLD.OTF";
    font-weight: bold;
 }
 @font-face {
    font-family: ITEMregular;
    src: "special/CLAN-BLACK.OTF";
    font-weight: bolder;
 }

html {margin: 0; background-color: #ffffff; font-family: ITEMregular, sans-serif;}
h1,h4,h3, h5,h6,h2 {margin-block-end: 0;margin-block-start: 0;}
body {width: 100%; position: relative; margin: 0;}
ol,ul, li {margin-block-start: 0; margin-block-end: 0; list-style-type: none; padding-inline-start:0;}
p {display: inline-block;margin-block-start: 0px;margin-block-end: 0px;margin-inline-start: 0px;margin-inline-end: 0px;}
h1 {font-size: 30px;}
figure {margin-block-start: 0;margin-block-end: 0;margin-inline-start: 0px;margin-inline-end: 0px;}
section, article, label {display: inline-block;}
.Intro {width: 100%; height: 100%; display: inline-block; text-align: center; background-color: #ffffff;}
.Intro .Title {width: 800px; text-align: center; display: block; margin: 10px auto 150px auto;}
.Intro .Title h1 {font-weight: normal; font-size: 45px; margin: 10px auto; width: 90%; color: #6e6e6e;}
.Intro .Title h6 {font-weight: normal; font-size: 16px; margin: 10px auto; width: 80%; color: #6e6e6e;}
.Intro .Title img {width: 500px; height: 500px;margin: 5px auto 20px auto;}
.Intro .Explainer {width: 800px; text-align: center; display: block; margin: 100px auto;}
.Intro .Explainer article {width: 80%;}
.Intro .Explainer h2 {font-weight: normal; font-size: 30px; margin: 10px auto; width: 30%; color: #6e6e6e; text-align: left; display: inline-block;vertical-align: middle;}
.Intro .Explainer article > img {width: 30%;display: inline-block; vertical-align: middle; margin: 0 8%;}
.Intro .Explainer p {font-weight: normal; font-size: 17px; margin: 20px auto; width: 70%; color: #6e6e6e; text-align: left; line-height: 1.3;}
.Intro .ExplainerL {width: 950px; text-align: center; display: block; margin: 100px auto;}
.Intro .ExplainerS {width: 400px; text-align: center; display: inline-block; vertical-align: top;}
.Intro .ExplainerS article {width: 80%;}
.Intro .ExplainerS h2 {font-weight: normal; font-size: 40px; margin: 10px auto; width: 70%; color: #6e6e6e; text-align: left; display: inline-block;vertical-align: middle;}
.Intro .ExplainerS p {font-weight: normal; font-size: 15px; margin: 10px auto; width: 70%; color: #6e6e6e; text-align: left; line-height: 1.2;}
.Intro .ExplainerS aside a {font-size: 12px; font-weight: bold; display: inline-block; padding: 10px 20px; background: linear-gradient(to right, #9048fd 30%, #4bcbc9 90%); color: #f2eafc; width: 40%; margin: 10px auto;text-decoration: none; text-align: center;}
.ExplainerS aside {width: 70%; text-align: left; display: block; margin: 0 auto;}
.Intro footer {width: 100%; border-top: 1px solid #6e6e6e; margin-top: 50px; }
.Intro footer section {width: 800px; text-align: center; display: block; margin: 50px auto;}
.Intro footer section p {font-size: 13px; color: #9c9c9c; width: 50%;}
.Intro footer section a {font-size: 15px; color: #6e6e6e; text-decoration: underline; display: inline-block; margin: 10px; font-weight: bold;}
.Brandized {font-weight: bolder;text-align: center;background: linear-gradient(to right, #9048fd 20%, #4bcbc9 40%, #4bcbc9 60%, #9048fd 80%);background-size: 200% auto;color: #6e6e6e;background-clip: text;text-fill-color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;animation: shine 3s linear infinite;}
@keyframes shine {to {background-position: 200% center;}}
.BrandizedS {font-weight: bolder;text-align: center;background: linear-gradient(to right, #9048fd 20%, #4bcbc9 40%, #4bcbc9 70%, #9048fd 90%);background-size: 200% auto;color: #6e6e6e;background-clip: text;text-fill-color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.BrandizedSS {font-weight: bolder;text-align: center;background: linear-gradient(to right, #9048fd 20%, #4bcbc9 40%, #4bcbc9 70%, #9048fd 90%);background-size: 200% auto;color: #6e6e6e;background-clip: text;text-fill-color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.BrandizedSSx {color: #a4d1f8; font-weight: bolder;}
.BrandizedSSx:hover, .logo:hover .BrandizedSSx, .BrandizedSS:hover, .logo:hover .BrandizedSS {font-weight: bolder;text-align: center;background: linear-gradient(to right, #9048fd 20%, #4bcbc9 40%, #4bcbc9 60%, #9048fd 80%);background-size: 200% auto;color: #6e6e6e;background-clip: text;text-fill-color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;animation: shine 3s linear infinite;}
.BrandizedSSS:hover {font-weight: bolder;text-align: center;background: linear-gradient(to right, #9048fd 20%, #4bcbc9 40%, #4bcbc9 60%, #9048fd 80%);background-size: 200% auto;color: #6e6e6e;background-clip: text;text-fill-color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;animation: shine 3s linear infinite;}
.Intro .Explainer a {font-size: 12px; font-weight: bold; display: inline-block; padding: 10px 20px; background: linear-gradient(to right, #9048fd 30%, #4bcbc9 90%); color: #f2eafc; margin: 10px 30px;text-decoration: none; width: 160px;}
.Pager {width: 100%; margin-top: 100px;}
.collections {width: 100%; max-width: 1600px; display: inline-block;}
.collection {width: 250px; margin: 20px;}
.collection .collectionIcon {width: 100px; height: 100px; border-radius: 50%; display: inline-block; vertical-align: top;}
.collection .collectionInfo {width: 140px; height: 140px; display: inline-block; vertical-align: top; margin-left: 10px;}
.collection .collectionTitle {width: 95%; display: block; text-align: left; font-size: 20px;}
.collection .collectionDesc {width: 95%; display: block; text-align: left; font-size: 13px;}
.collection .collectionItems {width: 95%; display: block; text-align: left; font-size: 18px;}


.menuMenu {width: 100%; position: fixed; top: 0; left: 0; height: 60px; border-bottom: 2px solid #a4d1f8;}
.menuMenu .logo {display: inline-block; margin-left: 1%; text-decoration: none; cursor: pointer;}
.menuMenu .logo .logoimg {width: 35px; height: 35px; display: inline-block; vertical-align: middle; margin-top: 14px; background-image: url('special/logoS.png'); background-repeat: no-repeat; background-position: 0 -37;}
.menuMenu .logo:hover .logoimg, .menuMenu .logo .logoimg:hover {background-position: 0 0px;}
.menuMenu .logo span {font-size: 20px; display: inline-block; vertical-align: middle; margin: 15px 0 0 5px;}
.menuSelections {display: inline-block; margin: 15px 0 0 50px; vertical-align: middle}
.menuSelection {display: inline-block; margin: 5px 10px;}
.menuSelection a {font-size: 13px; line-height: 1; text-decoration: none; color: #a4d1f8; font-weight: bolder;}
.search {width: 250px; display: inline-block; margin-top: 13px; vertical-align: middle; margin-left: 50px;}
.search input {width: 75%; height: 25px; border: 2px solid #a4d1f8; border-radius: 5px;}
.search a {padding: 7px 5px 2px 5px; display: inline-block; background-color: #a4d1f8; color: #ffffff; line-height: 1;border-radius: 5px; margin-top: 0px; margin-left: 3px; vertical-align: middle;}
.connectWallet {float: right; margin-right: 1%; vertical-align: middle;margin-top: 22px;}


@media only screen and (max-device-width: 750px) {
   .Intro .Title, .Explainer, .ExplainerL, .ExplainerS, footer section {width: 90% !important; text-align: center;}
   .Intro .Title img {width: 90%; height: auto;}
   .Intro .Title h1 {font-size: 30px; text-align: left;}
   .Intro .ExplainerS aside a {width: 70%;}
   .Intro .Explainer h2 {font-size: 25px; width: 100%;}
   .Intro .Explainer p, .Intro .ExplainerS p {font-size: 13px;}
   .Intro .Title {margin-bottom: 50px;}
   .Intro .Explainer, .Intro .ExplainerL {margin: 20px;}
   .Intro .Title h6 {text-align: left;}
   .Intro .Explainer article > img {width: 80%}
   

}




@media only screen and (min-device-width: 751px) and (max-device-width: 1024px) {
   .Intro .Title, .Explainer, .ExplainerL, .ExplainerS, footer section {width: 90% !important; text-align: center;}
   .Intro .Title img {width: 90%; height: auto;}
   .Intro .Explainer article > img {width: 40%}
}




















